/* Color Theme
#2C3E50 - Dark Background
#ECF0F1 - Light Background
#E74C3C - Accent Color 1
#3498DB - Accent Color 2
#2ECC71 - Accent Color 3
#FFFFFF - Light Text Color
*/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2C3E50; /* Dark Background */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    height: auto;
    background-color: #ECF0F1; /* Light Background */
    color: #2C3E50; /* Dark Background */
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

nav ul li {
    list-style: none;
    margin: 0 25px;
}

.right ul li a {
    color: #2C3E50; /* Dark Background */
    font-weight: bold;
    text-decoration: none;
}

.right ul li a:hover {
    color: #E74C3C; /* Accent Color 1 */
    transform: scale(1.2);
}

.left a {
    color: #2C3E50; /* Dark Background */
    text-decoration: none;
}

.left:hover {
    color: #3498DB; /* Accent Color 2 */
}

.left {
    width: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-left: 80px;
    color: #2C3E50; /* Dark Background */
}

.logo {
    color: #2C3E50; /* Dark Background */
    font-style: italic;
    margin-left: -50px;
}

/* Main Content of the body */

main {
    background-color: #ECF0F1; /* Light Background */
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;    
    height: 500px;
}

.container div {
    width: 35%;
    min-height: 450px;
    height: auto;
    margin: 30px auto;
    background-color: #2C3E50; /* Dark Background */
    border-radius: 15%;
    color: #FFFFFF; /* Light Text Color */
    padding: 20px;
}

.container div:hover {
    background-color: #2ECC71; /* Accent Color 3 */
    color: #2C3E50; /* Dark Background */
}

