@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #40b89c;
    --bg-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #228f75;
}

.container {
    width: 400px;
    height: 800px;
    border-radius: 10px;
    padding: 20px;
    background-color: var(--bg-color);
}

.clock-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clock-wrapper .clock {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #228f7621, 0 5px 15px #228f7663;
    z-index: 1;
}

.clock .hand {
    width: 2px;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform-origin: top;
    background-color: var(--primary-color);
}

.clock .hand.hour-hand {
    height: 25%;
    transform: rotate(-90deg);
}

.clock .hand.minute-hand {
    height: 30%;
    transform: rotate(90deg);
}

.clock .hand.second-hand {
    height: 35%;
    transform: rotate(180deg);
}

.clock .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background-color: var(--bg-color);
    z-index: 1;
}

.clock .numbers {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.clock .number {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: rotate(calc(var(--i) * 30deg));
}

.clock .number span {
    position: relative;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 800;
    transform: rotate(calc(var(--i) * -30deg - 90deg));
}

.clock .number:nth-child(3n) span {
    font-size: 20px;
    font-weight: 700;
}








